.feed {
  display: flex;
  border: 1px solid green;
  justify-content: space-between;
  text-align: center;
  margin: 1vw;
}
.feed__left {
  flex: 0.2;
  margin: 1vw;
  text-align: center;
}
.feed__center {
  flex: 0.5;
  /* border: 1px solid blue; */
  margin: 1vw;
}

.feed__right {
  flex: 0.3;
  border: 1px solid black;
  margin: 1vw;
}

.MuiCard-root {
  margin-top: 1.1vh;
}

.feed__leftCardMedia  /* feed__leftCardProfile */ {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 345px !important;
}

.MuiAvatar-root {
  height: 72px !important;
  width: 72px !important;
  margin: -30px 56px 12px !important;
}

.feed__leftCardTitle > .MuiTypography-root {
  font-weight: bold;
  text-transform: capitalize;
}
.feed__leftCardDescription > .MuiTypography-root {
  font-size: 12px !important;
}
.feed__leftCardDetail {
  display: flex;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
}
.feed__leftCardDetail:hover {
  background-color: #ebebeb;
  cursor: pointer;
}
.feed__leftCardDetail__headLine {
  font-size: 12px;
  font-weight: bold;
  color: #888686;
}

.feed__leftCardDetail__numbers {
  font-size: 12px;
  font-weight: bold;
  color: #2b7cce;
}

.MuiCardActionArea-root:hover  /* meterial ui action area */ {
  background-color: #ebebeb;
}
.feed__leftCardDetail__myItem {
  text-align: left;
  justify-content: center;
  padding-left: 1vw;
  padding-top: 1.5vh;
}
.feed__leftCardDetail__myItem > p {
  color: #424242;
  font-weight: 650;
  font-size: 12px;
}
.feed__leftCardDetail__myItemObject {
  padding-left: 5px;
}

.feed__leftCommunityCard__recentActivity,
.feed__leftCommunityCard__groupsActivity,
.feed__leftCommunityCard__hashtags {
  justify-content: left;
  text-align: left;
  padding-left: 1vw;
  padding-top: 1.5vh;
}
.feed__leftCommunityCard__recentActivity > h2 {
  font-size: 12px;
}
.feed__leftCommunityCard__recentActivity > ul > li > span {
  font-size: 12px;
  font-weight: bold;
  color: #616161;
}
.feed__leftCommunityCard__groupsActivity > h2 {
  font-size: 12px;
  color: #2b7cce;
}
.feed__leftCommunityCard__groupsActivity > h2:hover {
  text-decoration: underline;
}
.feed__leftCommunityCard__groupsActivity > ul > li > span {
  font-size: 12px;
  font-weight: bold;
  color: #616161;
}

.feed__leftCommunityCard__events {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-left: 1vw;
}
.feed__leftCommunityCard__eventsHeadLine > h6 {
  font-size: 12px;
  color: #2b7cce;
}

.feed__leftCommunityCard__eventsHeadLine {
  margin-bottom: 0.1vw;
}
.feed__leftCommunityCard__eventsHeadLine > h6:hover {
  text-decoration: underline;
}
.feed__leftCommunityCard__hashtags__headLines {
  display: flex;
  justify-content: space-between;
}
.feed__leftCommunityCard__hashtags__headLines > div > span {
  font-size: 12px;
  color: #2b7cce;
}
#addIcon {
  opacity: 0;
}

.feed__leftCommunityCard__hashtags__headLines:hover > #addIcon {
  opacity: 1;
}
.feed__leftCommunityCard__hashtags__headLines > div > span:hover {
  text-decoration: underline;
}
.feed__leftCommunityCard__hashtags__bottomLine {
  border-top: 1px solid lightgrey;
}
.feed__leftCommunityCard__hashtags__bottomLine:hover {
  background-color: #ebebeb;
}
.feed__leftCommunityCard__hashtags__bottomLine > ul li > span {
  font-size: 12px;
  color: #616161;
  font-weight: bold;
}
ul > li:hover {
  background-color: #ebebeb;
  color: #424242;
}

.feed__leftCommunityCard__hashtags > ul > li > span {
  font-size: 12px;
  font-weight: bold;
  color: #616161;
}
.feed__center__postBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1vw;
  padding: 1vh;
  background-color: #fff;
  border: 1px solid lightgrey;
}


.feed__center__postBox__options {
  text-transform: capitalize;
  display: flex;
  justify-content: space-around;
  padding-top: 1vh;
  text-align: center;
  align-items: center;
}
.feed__center__postBox__options > div > .MuiButton-root {
  text-transform: capitalize;
}
.feed__postListOrderByTrigger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}
/* paddingBottom: "3px", paddingLeft: "1vw"  */
.feed__postListOrderByTrigger > small {
  padding-bottom: 3px;
  padding-left: 1vw;
}


.feed__postListOrderByTrigger > small > b:hover {
  cursor: pointer;
}
